<!DOCTYPE html>
<html>
<head>
   <title>Top Down Operator Precedence</title>
   <link href="global.css" rel="stylesheet" type="text/css">
   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

   <script src="main.js"></script>
</head>

<body>
  <h1 id="title">An&aacute;lisis l&eacute;xico:Top Down Operator Precedence(TDOP)</h1>
  <p>
    <h2>Enlaces</h2>
    <nav>
      Enlace al tutorial: <a href="http://javascript.crockford.com/tdop/tdop.html" class="mylink">TDOP</a><br>
      Enlace al repositorio: <a href="https://github.com/alu4399/analizador_lexico" class="mylink">GitHub</a><br>
      Enlace a los test: <a href="/test">Test</a>
    </nav>
  </p>
  <h2>Entrada</h2>
  <p>
  Inserte un código JavaScript en el &aacute;rea de texto y click en el bot&oacute;n para analizarlo.
  </p>
  <textarea id="INPUT">
     var a = "hello"; // initialize a
     var b = function(x) {
             var c = 3;
               return x+c;
             };
  </textarea>
  <pre id=OUTPUT></pre>
  <br>
  <input id="PARSE" value=Analizar type=button class="mylink">
</body>
</html>