<div id="mocha"></div>
    
    <script>
      mocha.run();
    </script>
    <script>
    function dump(fileName) {
      $.get(fileName, function (data) {
        $("#input").val(data);
      });
    };
   </script>
   <h2 id="apli">Enlace a la aplicaci&oacute;n </h2>
   <p><a id="eapli" href="/">Aplicaci&oacute;n</a></p>