#title
{
 	text-align: center; font-size: x-large;
}
a 	
{
 	text-decoration: none
}
#INPUT
{
	height:200px; width: 800px;
	resize: none;
} 

body
{
	 background-color:#b0c4de;  /* blue */
	 background-image: url('recursos/fondo.jpg');	
}

#apli
{
	text-align: center;
}

#eapli
{
	text-align: center;
}

#OUTPUT
{
	background-color:#FFFFFF;  /* blue */
	width: 800px;
}